@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* Resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */

// Colors - Primary
$pale_blue: hsl(225, 100%, 94%);
$bright_blue: hsl(245, 75%, 52%);

// Colors - Neutral
$very_pale_blue: hsl(225, 100%, 98%);
$desaturated_blue: hsl(224, 23%, 55%);
$dark_blue: hsl(223, 47%, 23%);

// Typography - Font
$font_weights: (
  'light': 500,
  'regular': 700,
  'bold': 900,
);
