@use 'variables' as *;

@mixin respond-to($screen) {
  @media screen and (min-width: map-get($breakpoints, $screen)) {
    @content;
  }
}

@mixin flexbox($direction: null, $justify: null, $align: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}