@use 'variables' as *;

@mixin respond-to($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin hflex($halign: null, $valign: null) {
  display: flex;
  flex-direction: row;
  justify-content: $halign;
  align-items: $valign;
}
@mixin vflex($halign:null, $valign: null) {
  display: flex;
  flex-direction: column;
  justify-content: $valign;
  align-items: $halign;
}