* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

ul {
  list-style: none;
}

%btn-reset {
  appearance: none;
  border: none;
  background: none;
}

button {
  @extend %btn-reset;
  cursor: pointer;
}

input {
  @extend %btn-reset;
  outline: none;
}