@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Primary colors
$light-red: hsl(0, 100%, 67%);
$orange-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);

// Gradients for background
$light-slate-blue: hsl(252, 100%, 67%);
$light-royal-blue: hsl(241, 81%, 54%);
// Gradients for circle
$violet-blue: hsla(256, 72%, 46%, 1);
$persian-blue: hsla(241, 72%, 46%, 0);

// Neutral colors
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

// Fonts
$font: Hanken Grotesk, sans-serif;
$font-weights: (
  'light': 500,
  'medium': 700,
  'bold': 800,
);

// Devices
$mobile: 376px;
$desktop: 1440px;
