@use '../abstracts' as *;

footer {
  background-color: color(dark_blue_footer);
  padding-inline: rem(20px);
  position: relative;

  .logo {
    margin-left: rem(20px);
  }

  .footer-contents {
    @include v-flex(null);
    margin-top: rem(40px);

    .location {
      display: flex;
      gap: rem(20px);
    }

    .contacts {
      @include v-flex(null);
      gap: 22px;
      margin-block: rem(16px 84px);

      .phone,
      .email {
        display: flex;
        gap: rem(15px);
        font-size: rem(14px);
      }
    }

    .sitemap {
      @include v-flex(null);
      gap: rem(49px);

      ul {
        list-style-type: none;

        li {
          margin-bottom: rem(16px);

          a {
            color: color(white);
            text-decoration: none;

            &:hover {
              font-weight: weight(bold);
            }
          }
        }
      }
    }

    .socials {
      align-self: center;
      margin-block: rem(63px 43px);

      .fa-brands {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        font-size: 12px;
        margin-inline: 5px;
        border: 1px solid color(white);
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          color: color(cyan);
          border-color: color(cyan);
        }
      }
    }
  }

  .attribution {
    color: color(white);
    background: transparent;
    font-size: rem(8px);
    text-align: center;
    padding-bottom: rem(5px);

    a {
      color: color(cyan);
    }
  }

  &::before {
    content: '';
    background-color: color(dark_blue_footer);
    position: absolute;
    top: -30%;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: -1;
  }

  @include device(large) {
    padding-inline: rem(120px 80px);

    .logo {
      margin: 0;
    }

    .footer-contents {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;
      margin-bottom: 95px;

      .location {
        margin-right: rem(97px);
      }

      .contacts {
        margin-top: 0;
      }

      .sitemap {
        flex-direction: row;
        gap: rem(80px);
      }

      .socials {
        align-self: flex-start;
        justify-self: flex-end;
        margin: 0;
        flex: 1;
      }
    }

    &::before {
      top: -55%;
      height: 55%;
    }
  }
}